/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CONTAINER */

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.box{
    width: 100%;
    padding: 20px;
    background-color: darkcyan;
    border: 1px solid white;
}

.special{
    background-color: chartreuse;
}